.home-button {
    text-align: center;
    margin: auto;
    display: flex;
    background-color: rgb(255, 137, 46);
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 65px;
    padding-right: 65px;
    border-radius: 25px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: red;
}
